/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: #757575;
    padding-left: 15px;
    line-height: 40px;
    cursor: pointer;
}
footer a {
    padding-left: 27px;
    font-size: 14px;
}

.left-header {
    margin-left: 10px
}

.header {margin-top: 10px}

.right-header {
    margin-right: 10px;
}

/* where app grid goes */

a:hover {
    text-decoration: underline;   
}

main {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#google-logo {
    padding-top: 160px;
    padding-bottom: 30px;
}
.search-text {
    height: 40px;
    width: 460px;
    border: 1px solid #dedede;
    background: #fff;
    border-radius: 40px;
}
.search-text:hover {
    box-shadow: 1px 1px 5px 1px #dedede;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.sign-in {
    background: #4285f4;
    color: white;
    font-weight:bold;
    padding: 0px 12px;
    line-height: 28px;
    border: none;
}
.search-buttons {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.search {
    background: #f2f2f2;
    margin: 11px 4px;
    padding: 0 16px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.search:hover{border: 1px solid #c6c6c6;
}

.top-footer {
    background: #f4f4f4;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;   
}

nav.footer{
    background: #f4f4f4;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* original CSS

.header-link:hover{
    text-decoration: underline
}

.left-header {
    float: left;
}

.right-header {
    float: right;
    justify-items: center;
}

#profile-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.grid-1 {
display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 500px;
    grid-template-areas:
    "logo logo"
    "searchbar searchbar"
    "search lucky";
}
#google-logo {
    grid-area: logo;
}
.search-bar {
    grid-area: searchbar;

.search {
    grid-area: search;
}

.lucky {grid-area: lucky;
}

input {
    height:30px;
    width:200p;
    margin: auto;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

*/